<div class="footer">
  <table>
    <tr>
      <td><a title="Twitter" href="https://twitter.com/atFeVor"><img src="{{ "/assets/icons/social/twitter.png" | prepend: site.baseurl }}" class="logo" alt="Twitter"></a></td>
      <td><a title="GitHub" href="https://github.com/fvorwerk"><img src="{{ "/assets/icons/social/github.png" | prepend: site.baseurl }}" class="logo" alt="Twitter"></a></td>
      <td><a title="Bitbucket" href="https://bitbucket.org/fvorwerk"><img src="{{ "/assets/icons/social/bitbucket.png" | prepend: site.baseurl }}" class="logo" alt="Twitter"></a></td>
    </tr>
  </table>

</div>
