<h3>Datenschutz</h3>
<p>Der Schutz Ihrer personenbezogenen Daten bei der Erhebung, Verarbeitung und Nutzung<br />
anlässlich Ihres Besuchs auf unserer Webseite ist uns ein wichtiges Anliegen. Ihre Daten werden im Rahmen der gesetzlichen Vorschriften geschützt.</p>
<hr />
<p><strong>Keine Abmahnung ohne vorherigen Kontakt !</strong><br />
Sollte irgendwelcher Inhalt, oder die designtechnische Gestaltung einzelner Seiten, oder<br />
Teile dieser Internetpräsentation, fremde Rechte Dritter, oder gesetzliche Besimmungen verletzten, oder anderweitig, in irgendeiner Form wettbewerbsrechtliche Probleme hervor-<br />
bringen,so bitten wir, unter Berufung auf § 8 Abs.4 UWG, um eine angemessene, ausreichend erläuterte und schnelle Nachricht ohne Kostennote.</p>
<p>Wir garantieren, dass die zu Recht beanstandenten Passagen, oder Teile dieser Webseiten, in angemessener Frist entfernt bzw.den rechtlichen Vorgaben umfänglich angepasst werden, ohne das von Ihrer Seite, die Einschaltung eines Rechtsbeistandes erforderlich ist.</p>
<p>Die Einschaltung eines Anwaltes, zur für den Diensteanbieter kostenpflichtigen Abmahnung,<br />
entspricht nicht dessen wirklichen oder mutmaßlichen Willen und würde damit einen Verstoß<br />
gegen § 13Abs.5 UWG, wegen der Verfolgung sachfremder Ziele als beherrendes Motiv der Verfahrenseinleitung, insbesondere einer Kostenerzielungsabsicht, als eigentliche Triebfeder,<br />
sowie einen Verstoß gegen die Schadensminderungspflicht darstellen.</p>
<hr />
<p><i>Haftungshinweis: Trotzt sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</i></p>
