
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">




<article id="post-8" class="post-8 page type-page status-publish hentry">


   <header class="entry-header">
		<h2 class="entry-title"><a href="site.url" rel="bookmark">{{ page.title }}</a></h2>

			</header><!-- .entry-header -->

		<div class="entry-content">

			{{ content }}

			</div><!-- .entry-content -->

	<footer class="entry-meta">


			</footer><!-- .entry-meta -->
</article><!-- #post-## -->




		</main><!-- #main -->
	</div><!-- #primary -->
