//colors
$color_pigment_indigo_approx: #4b009b;
$white: #fff;
$color_royal_purple_approx: #632e9b;
$color_gray_nurse_approx: #eaeaea;
$color_tundora_approx: #444444;
$color_mine_shaft_approx: #333333;
$color_storm_dust_approx: #666;
$color_shalimar_approx: #fff9c0;
$color_celeste_approx: #ccc;
$color_woodsmoke_approx: #111;
$seashell: #f1f1f1;
$black_60: rgba(0, 0, 0, 0.6);
$color_jelly_bean_approx: #21759b;
$color_mercury_approx: #e1e4e6;
$black: #000;
$color_mountain_mist_approx: #999999;
$color_fuscous_gray_approx: #555555;
$color_desert_storm_approx: #f8f8f8;
$color_chicago_approx: #5e5e5e;
$red: red;
$gold: #ffd700;

//fonts
$font_0: Merriweather;
$font_1: Georgia;
$font_2: serif;
$font_3: Roboto;
$font_4: sans-serif;
$font_5: Helvetica Neue;
$font_6: Helvetica;
$font_7: Arial;
$font_8: Courier 10 Pitch;
$font_9: Courier;
$font_10: monospace;
$font_11: Monaco;
$font_12: Consolas;
$font_13: Andale Mono;
$font_14: DejaVu Sans Mono;
$font_15: Genericons;

//@extend-elements
//original selectors
//html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
%extend_1 {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

//original selectors
//body, button, input, select, textarea
%extend_2 {
	font-family: $font_0, $font_1, $font_2;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	color: $color_tundora_approx;
}

//original selectors
//li >ul, li >ol
%extend_3 {
	margin-bottom: 0;
	margin-left: 15px;
	margin-left: 1.5rem;
}

//original selectors
//abbr, acronym
%extend_4 {
	border-bottom: 1px dotted $color_storm_dust_approx;
	cursor: help;
	white-space: pre-wrap;
}

//original selectors
//sup, sub
%extend_5 {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

//original selectors
//button, input, select, textarea
%extend_6 {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

//original selectors
//button, input[type="button"], input[type="reset"], input[type="submit"]
%extend_7 {
	background-color: $color_royal_purple_approx;
	border: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	color: $white;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 8px 16px;
}

//original selectors
//button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover
%extend_8 {
	opacity: 0.8;
	filter: alpha(opacity=80);
	text-decoration: none;
	cursor: pointer;
}

//original selectors
//input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea
%extend_9 {
	color: $color_storm_dust_approx;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
}

//original selectors
//.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus
%extend_10 {
	background-color: $seashell;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 2px 2px $black_60;
	clip: auto !important;
	color: $color_jelly_bean_approx;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

//original selectors
//.entry-meta .posted-on:before, .entry-meta .byline:before, .entry-meta .cat-links:before, .entry-meta .tags-links:before, .entry-meta .comments-link:before, .entry-meta .edit-link:before
%extend_11 {
	display: inline-block;
	font: normal 22px/1 'Genericons';
	vertical-align: top;
}

//original selectors
//.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley
%extend_12 {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

//original selectors
//#comments h2.comments-title, #comments h3.comments-title
%extend_13 {
	margin-bottom: 30px;
	font-size: 28px;
	line-height: 34px;
}

//original selectors
//.comments-area .comment-edit-link, .comments-area .comment-permalink, .comments-area .comment-date-time, .comments-area .comment-author-link
%extend_14 {
	display: block;
	margin-left: 100px;
	color: $color_mountain_mist_approx;
}

//original selectors
//.comments-area article header .comment-author-link:before, .comments-area article header .comment-edit-link:before, .comments-area article header .comment-permalink:before, .comments-area article header .comment-date-time:before
%extend_15 {
	display: inline-block;
	font: normal 22px/1 'Genericons';
	vertical-align: top;
}

//original selectors
//#respond form input[type="text"], #respond form textarea
%extend_16 {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	padding: 10px;
	padding: 1rem;
	width: 100%;
}


html {
	@extend %extend_1;
	font-size: 62.5%;
	overflow-y: scroll;
}
body {
	@extend %extend_1;
	background: $white;
	@extend %extend_2;
	&.admin-bar .header-wrap {
		top: 32px;
	}
}
div {
	@extend %extend_1;
	&.wp-custom-header {
		position: relative;
	}
	&#wp-custom-header:hover .wp-custom-header-video-button {
		visibility: visible;
		opacity: 1;
	}
}
span {
	@extend %extend_1;
}
applet {
	@extend %extend_1;
}
object {
	@extend %extend_1;
}
iframe {
	@extend %extend_1;
	&#wp-custom-header-video {
		width: 100%;
	}
}
h1 {
	@extend %extend_1;
	font-family: $font_3, $font_4;
	clear: both;
	font-size: 30px;
	line-height: 36px;
}
h2 {
	@extend %extend_1;
	font-family: $font_3, $font_4;
	clear: both;
	font-size: 28px;
	line-height: 34px;
}
h3 {
	@extend %extend_1;
	font-family: $font_3, $font_4;
	clear: both;
	font-size: 26px;
	line-height: 32px;
}
h4 {
	@extend %extend_1;
	font-family: $font_3, $font_4;
	clear: both;
	font-size: 24px;
	line-height: 30px;
}
h5 {
	@extend %extend_1;
	font-family: $font_3, $font_4;
	clear: both;
	font-size: 22px;
	line-height: 28px;
}
h6 {
	@extend %extend_1;
	font-family: $font_3, $font_4;
	clear: both;
	font-size: 19px;
	line-height: 25px;
}
p {
	@extend %extend_1;
	color: $color_tundora_approx;
	line-height: 1.5;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
}
blockquote {
	@extend %extend_1;
	quotes: "" "";
	border-color: $color_gray_nurse_approx $color_gray_nurse_approx $color_gray_nurse_approx $color_royal_purple_approx;
	//Instead of the line below you could use @include border-image($value)
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 1px 3px;
	font-style: italic;
	margin-bottom: 20px;
	padding: 20px 20px 5px;
	&:before {
		content: "";
	}
	&:after {
		content: "";
	}
	cite {
		color: $color_mine_shaft_approx;
		font: 300 15px $font_5, $font_6, $font_7, $font_4;
		letter-spacing: 1px;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
	}
}
pre {
	@extend %extend_1;
	background: $white;
	border: 1px solid $color_gray_nurse_approx;
	font-family: $font_8, $font_9, $font_10;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
	max-width: 100%;
	padding: 16px;
	padding: 1.6rem;
	white-space: pre-wrap;
	overflow: auto;
}
a {
	@extend %extend_1;
	color: $color_royal_purple_approx;
	text-decoration: none;
	&:focus {
		outline: thin dotted;
	}
	&:hover {
		outline: 0;
	}
	&:active {
		outline: 0;
	}
	img {
		border: 0;
	}
	&:visited {
	}
	&#scroll-up {
		bottom: -5px;
		position: fixed;
		right: 20px;
		display: none;
		opacity: 0.5;
		filter: alpha(opacity=50);
		span {
			font-size: 80px;
			color: $color_royal_purple_approx;
		}
		&:hover {
			opacity: 1;
			filter: alpha(opacity=100);
		}
	}
}
abbr {
	@extend %extend_1;
	@extend %extend_4;
}
acronym {
	@extend %extend_1;
	@extend %extend_4;
}
address {
	@extend %extend_1;
	margin: 0 0 15px;
	margin: 0 0 1.5rem;
	display: block;
	font-style: italic;
}
big {
	@extend %extend_1;
	font-size: 125%;
}
cite {
	@extend %extend_1;
	font-style: italic;
}
code {
	@extend %extend_1;
	font: 15px $font_11, $font_12, $font_13, $font_14, $font_10;
	white-space: pre-wrap;
}
del {
	@extend %extend_1;
}
dfn {
	@extend %extend_1;
	font-style: italic;
}
em {
	@extend %extend_1;
	font-style: italic;
}
font {
	@extend %extend_1;
}
ins {
	@extend %extend_1;
	background: $color_shalimar_approx;
	text-decoration: none;
}
kbd {
	@extend %extend_1;
	font: 15px $font_11, $font_12, $font_13, $font_14, $font_10;
	white-space: pre-wrap;
}
q {
	@extend %extend_1;
	quotes: "" "";
	&:before {
		content: "";
	}
	&:after {
		content: "";
	}
}
s {
	@extend %extend_1;
}
samp {
	@extend %extend_1;
}
small {
	@extend %extend_1;
	font-size: 75%;
}
strike {
	@extend %extend_1;
}
strong {
	@extend %extend_1;
	font-weight: bold;
}
sub {
	@extend %extend_1;
	@extend %extend_5;
	top: .5ex;
}
sup {
	@extend %extend_1;
	@extend %extend_5;
	bottom: 1ex;
}
tt {
	@extend %extend_1;
	font: 15px $font_11, $font_12, $font_13, $font_14, $font_10;
	white-space: pre-wrap;
}
var {
	@extend %extend_1;
	font: 15px $font_11, $font_12, $font_13, $font_14, $font_10;
	white-space: pre-wrap;
}
dl {
	@extend %extend_1;
}
dt {
	@extend %extend_1;
	font-weight: bold;
}
dd {
	@extend %extend_1;
	margin: 0 15px 15px;
	margin: 0 1.5rem 1.5rem;
}
ol {
	@extend %extend_1;
	list-style: none;
	margin: 0;
	list-style: decimal;
}
ul {
	@extend %extend_1;
	list-style: none;
	margin: 0;
	list-style: none;
}
li {
	@extend %extend_1;
	> ul {
		@extend %extend_3;
	}
	> ol {
		@extend %extend_3;
	}
}
fieldset {
	@extend %extend_1;
}
form {
	@extend %extend_1;
}
label {
	@extend %extend_1;
}
legend {
	@extend %extend_1;
}
table {
	@extend %extend_1;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 15px;
	margin: 0 0 1.5em;
	width: 100%;
}
caption {
	@extend %extend_1;
	text-align: left;
}
tbody {
	@extend %extend_1;
}
tfoot {
	@extend %extend_1;
}
thead {
	@extend %extend_1;
}
tr {
	@extend %extend_1;
}
th {
	@extend %extend_1;
	font-weight: bold;
	border: 1px solid $color_gray_nurse_approx;
	padding: 6px 10px;
	text-align: left;
}
td {
	@extend %extend_1;
	border: 1px solid $color_gray_nurse_approx;
	padding: 6px 10px;
	text-align: left;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
	margin: 0;
}
footer {
	display: block;
}
header {
	display: block;
}
main {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
button {
	@extend %extend_2;
	@extend %extend_6;
	line-height: normal;
	@extend %extend_7;
	&:hover {
		@extend %extend_8;
	}
}
input {
	@extend %extend_2;
	@extend %extend_6;
	line-height: normal;
}
select {
	@extend %extend_2;
	@extend %extend_6;
}
textarea {
	@extend %extend_2;
	@extend %extend_6;
	@extend %extend_9;
	overflow: auto;
	padding-left: 3px;
	vertical-align: top;
	width: 98%;
	&:focus {
		color: $color_woodsmoke_approx;
	}
}
hr {
	background-color: $color_gray_nurse_approx;
	border: 0;
	height: 1px;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
}
.entry-content {
	margin: 15px 0 0;
	margin: 1.5rem 0 0;
	h1 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}
	h2 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}
	h3 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}
	h4 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}
	h5 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}
	h6 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	ul {
		list-style: square;
		padding: 0 0 0 35px;
		margin-bottom: 30px;
	}
	ol {
		padding: 0 0 0 35px;
		margin-bottom: 30px;
	}
	li {
		> ul {
			margin-bottom: 0;
		}
		> ol {
			margin-bottom: 0;
		}
	}
	img.wp-smiley {
		@extend %extend_12;
	}
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}
mark {
	background: $color_shalimar_approx;
	text-decoration: none;
}
img {
	height: auto;
	max-width: 100%;
	&#wpstats {
		display: none;
	}
	&.header-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
input[type="button"] {
	@extend %extend_7;
	&:hover {
		@extend %extend_8;
	}
}
input[type="reset"] {
	@extend %extend_7;
	&:hover {
		@extend %extend_8;
	}
}
input[type="submit"] {
	@extend %extend_7;
	&:hover {
		@extend %extend_8;
	}
}
input[type="checkbox"] {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	padding: 0;
}
input[type="radio"] {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
	@extend %extend_9;
	padding: 3px;
	&:focus {
		color: $color_woodsmoke_approx;
	}
}
input[type="search"]::-webkit-search-decoration {
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input[type="text"] {
	@extend %extend_9;
	padding: 3px;
	&:focus {
		color: $color_woodsmoke_approx;
	}
}
input[type="email"] {
	@extend %extend_9;
	padding: 3px;
	&:focus {
		color: $color_woodsmoke_approx;
	}
}
input[type="url"] {
	@extend %extend_9;
	padding: 3px;
	&:focus {
		color: $color_woodsmoke_approx;
	}
}
input[type="password"] {
	@extend %extend_9;
	padding: 3px;
	&:focus {
		color: $color_woodsmoke_approx;
	}
}
.clearfix {
	display: inline-block;
	display: block;
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-right: 1.5rem;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-left: 1.5rem;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
.alignnone {
	margin: 10px 0;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	&:hover {
		@extend %extend_10;
	}
	&:active {
		@extend %extend_10;
	}
	&:focus {
		@extend %extend_10;
	}
}
.clear {
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.comment-content {
	padding: 20px;
	padding: 2rem;
	background-color: $color_desert_storm_approx;
	border: 1px solid $color_gray_nurse_approx;
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	a {
		word-wrap: break-word;
	}
	img.wp-smiley {
		@extend %extend_12;
	}
}
.site-header {
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	.menu-toggle {
		background: $color_royal_purple_approx;
		color: $white;
		font-size: 30px;
		font-size: 3rem;
		font-weight: 300;
		padding: 5px 22px;
		margin: 0;
		&:hover {
			background: $color_royal_purple_approx;
		}
		&:before {
			content: '\f419';
			display: inline-block;
			font: normal 22px/1 'Genericons';
			vertical-align: top;
			padding-top: 8px;
		}
	}
}
.site-content {
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.site-footer {
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.inner-wrap {
	max-width: 1218px;
	margin: 0 auto;
}
#primary {
	width: 68%;
	float: left;
}
#secondary {
	width: 28%;
	float: right;
}
#content {
	padding-top: 45px;
	.comments-area {
		a {
			&.comment-edit-link:hover {
				color: $color_royal_purple_approx;
			}
			&.comment-permalink:hover {
				color: $color_royal_purple_approx;
			}
		}
		article header cite a:hover {
			color: $color_royal_purple_approx;
		}
	}
	a:hover {
		text-decoration: underline;
		text-decoration: none;
	}
	.entry-title a:hover {
		color: $color_royal_purple_approx;
		text-decoration: none;
	}
	.entry-meta span a:hover {
		color: $color_royal_purple_approx;
		text-decoration: none;
	}
}
#parallax-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
#page {
	position: relative;
	z-index: 888;
}
.header-wrap {
	border-bottom: 1px solid $color_mercury_approx;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	z-index: 999999;
	background-color: $white;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.site-branding {
	float: left;
	font-family: $font_3;
	max-width: 100%;
	margin-right: 30px;
}
.site-title {
	font-size: 36px;
	font-size: 3.6rem;
	padding: 5px 20px 5px 25px;
	padding: 0.5rem 2rem 0.5rem 2.5rem;
	float: left;
	line-height: 1.5;
	a {
		color: $color_tundora_approx;
		&:hover {
			color: $color_royal_purple_approx;
		}
	}
}
.site-description {
	display: none;
}
.header-search-icon {
	float: right;
	border-left: 1px solid $color_mercury_approx;
	padding: 14px 10px 10px;
	cursor: pointer;
	&:before {
		content: '\f400';
		color: $color_royal_purple_approx;
		display: inline-block;
		font: normal 40px/1 'Genericons';
		vertical-align: top;
	}
}
.main-navigation {
	float: right;
	max-width: 100%;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		li {
			&.current-menu-item {
				a {
					background-color: $color_royal_purple_approx;
					color: $white;
				}
				ul li a {
					color: $color_tundora_approx;
					background-color: $white;
					&:hover {
						background-color: $color_royal_purple_approx;
						color: $white;
					}
				}
			}
			&.current_page_ancestor {
				a {
					background-color: $color_royal_purple_approx;
					color: $white;
				}
				ul li a {
					color: $color_tundora_approx;
					background-color: $white;
				}
			}
			&.current-menu-ancestor {
				a {
					background-color: $color_royal_purple_approx;
					color: $white;
				}
				ul li a {
					color: $color_tundora_approx;
					background-color: $white;
				}
			}
			&.current_page_item {
				a {
					background-color: $color_royal_purple_approx;
					color: $white;
				}
				ul li a {
					color: $color_tundora_approx;
					background-color: $white;
				}
			}
			&:hover {
				> a {
					background-color: $color_royal_purple_approx;
					color: $white;
				}
				ul {
					display: block;
					ul {
						display: none;
						z-index: 9999;
					}
				}
			}
			ul {
				display: none;
				z-index: 9999;
				li {
					a {
						color: $color_tundora_approx;
						background-color: $white;
						&:hover {
							background-color: $color_royal_purple_approx;
							color: $white;
						}
					}
					&.current-menu-item a {
						color: $color_tundora_approx;
						background-color: $white;
					}
					&:hover > a {
						background-color: $color_royal_purple_approx;
						color: $white;
					}
				}
			}
		}
		ul {
			display: none;
			float: left;
			left: 0;
			position: absolute;
			top: 63px;
			z-index: 99999;
			li {
				border-left: none;
				font-size: 14px;
				font-size: 1.4rem;
				&:hover ul {
					display: block;
					ul {
						display: none;
						z-index: 9999;
					}
				}
			}
			ul {
				left: 100%;
				top: 0;
				ul {
					li:hover ul {
						display: block;
						ul {
							display: none;
							z-index: 9999;
						}
					}
					ul li:hover ul {
						display: block;
					}
				}
				li:hover ul {
					display: block;
					ul {
						display: none;
						z-index: 9999;
					}
				}
			}
			a {
				min-width: 200px;
			}
		}
	}
	li {
		font-family: $font_3;
		float: left;
		position: relative;
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 3.5;
		border-left: 1px solid $color_mercury_approx;
	}
	a {
		font-family: $font_3;
		padding: 0 25px;
		display: block;
		text-decoration: none;
		color: $color_tundora_approx;
		&:hover {
			background-color: $color_royal_purple_approx;
			color: $white;
		}
	}
}
.sub-toggle {
	display: none;
}
.sticky {
}
.hentry {
	margin-bottom: 40px;
	margin-bottom: 4rem;
	padding: 30px;
	padding: 3rem;
	background-color: $white;
}
.page-header {
	margin-bottom: 40px;
	margin-bottom: 4rem;
	padding: 10px 30px;
	padding: 1rem 3rem;
	background-color: $white;
	text-align: center;
}
.updated {
	display: none;
}
.post-featured-image {
	padding-bottom: 10px;
	a img:hover {
		opacity: 0.8;
		filter: alpha(opacity=80);
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: $black 0 0 0;
	}
}
.page-content {
	margin: 15px 0 0;
	margin: 1.5rem 0 0;
	img.wp-smiley {
		@extend %extend_12;
	}
}
.entry-summary {
	margin: 15px 0 0;
	margin: 1.5rem 0 0;
	.price .amount {
		color: $color_tundora_approx;
	}
}
.page-links {
	clear: both;
	margin: 0 0 15px;
	margin: 0 0 1.5rem;
}
.entry-title {
	font-size: 30px;
	font-size: 3rem;
	line-height: 1.5;
	a {
		color: $color_tundora_approx;
	}
}
.page-title {
	font-size: 30px;
	font-size: 3rem;
	line-height: 1.5;
}
.entry-meta {
	span {
		padding-right: 20px;
		color: $color_mountain_mist_approx;
		font-size: 14px;
		font-size: 1.4rem;
		&:hover {
			color: $color_royal_purple_approx;
		}
		a {
			color: $color_mountain_mist_approx;
		}
	}
	.posted-on:before {
		@extend %extend_11;
		content: '\f307';
	}
	.byline:before {
		@extend %extend_11;
		content: '\f304';
	}
	.cat-links:before {
		@extend %extend_11;
		content: '\f301';
	}
	.tags-links:before {
		@extend %extend_11;
		content: '\f302';
	}
	.comments-link:before {
		@extend %extend_11;
		content: '\f300';
	}
	.edit-link:before {
		@extend %extend_11;
		content: '\f411';
	}
}
.tg-one-third {
	float: left;
	width: 31.143952%;
	margin: 0 3.284072% 30px 0;
	margin: 0 3.284072% 3rem 0;
}
.tg-one-third-last {
	margin-right: 0;
}
#featured_pages {
	padding-bottom: 15px;
	text-align: center;
	img {
		vertical-align: top;
		margin-bottom: 20px;
		margin-bottom: 2rem;
	}
	.page_text_container {
		background-color: $white;
		padding: 30px 30px 20px;
		padding: 3rem 3rem 2rem;
	}
	.entry-title {
		line-height: 1;
		margin-bottom: 10px;
		margin-bottom: 1rem;
		font-size: 24px;
		font-size: 2.4rem;
	}
	p {
		margin-bottom: 15px;
		margin-bottom: 1.5rem;
		font-size: 14px;
		font-size: 1.4rem;
	}
	a.more-link {
		font-size: 14px;
		font-size: 1.4rem;
		border: 1px solid $color_gray_nurse_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 4px;
		color: $color_fuscous_gray_approx;
		padding: 4px 10px;
		&:hover {
			border: 1px solid $color_royal_purple_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 4px;
			color: $color_royal_purple_approx;
			padding: 4px 10px;
			text-decoration: none;
		}
	}
}
.not-found {
	.page-content {
		padding: 30px;
		padding: 3rem;
		background-color: $white;
	}
	.search-form {
		text-align: center;
	}
}
.wp-caption {
	border: 1px solid $color_celeste_approx;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
	max-width: 100%;
	img[class*="wp-image-"] {
		display: block;
		margin: 1.2% auto 0;
		max-width: 98%;
	}
	.wp-caption-text {
		margin: 8px 0;
		margin: 0.8075rem 0;
	}
}
.wp-caption-text {
	text-align: center;
}
.site-main {
	.gallery {
		dd {
		}
		a img {
		}
	}
	[class*="navigation"] {
		margin: 0 0 15px;
		margin: 0 0 1.5rem;
		overflow: hidden;
	}
	.gallery-columns-4 .gallery-item img {
	}
}
.gallery-caption {
}
.gallery {
	margin: 0 auto 15px;
	.gallery-caption {
		font-size: 12px;
		line-height: 1.2;
		padding-top: 5px;
	}
}
.gallery-item {
	display: inline-block;
	padding: 15px 2%;
	text-align: center;
	vertical-align: top;
	width: 100%;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
[class*="navigation"] {
	.nav-previous {
		float: left;
		max-width: 48%;
	}
	.nav-next {
		float: right;
		text-align: right;
		max-width: 48%;
	}
}
#comments {
	padding: 30px;
	padding: 3rem;
	background-color: $white;
	margin-bottom: 40px;
	margin-bottom: 4rem;
	h1 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}
	h2 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
		&.comments-title {
			@extend %extend_13;
		}
	}
	h3 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
		&.comments-title {
			@extend %extend_13;
		}
	}
	h4 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}
	h5 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}
	h6 {
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}
}
.bypostauthor {
}
.avatar {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	float: left;
}
.comments-area {
	.comment-edit-link {
		@extend %extend_14;
	}
	.comment-permalink {
		@extend %extend_14;
	}
	.comment-date-time {
		@extend %extend_14;
	}
	.comment-author-link {
		@extend %extend_14;
		a {
			color: $color_mountain_mist_approx;
			&:hover {
				color: $color_royal_purple_approx;
			}
		}
		span {
			margin-left: 10px;
			padding: 0 5px;
			background-color: $color_royal_purple_approx;
			color: $white;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 3px;
		}
	}
	article header {
		margin: 0 0 20px;
		overflow: hidden;
		position: relative;
		.comment-author-link:before {
			@extend %extend_15;
			content: '\f304';
		}
		.comment-edit-link:before {
			@extend %extend_15;
			content: '\f411';
		}
		.comment-permalink:before {
			@extend %extend_15;
			content: '\f107';
		}
		.comment-date-time:before {
			@extend %extend_15;
			content: '\f307';
		}
	}
}
.comment {
	margin-bottom: 20px;
	ul {
		margin: 0 0 20px 20px;
		list-style: square outside none;
	}
	ol {
		margin: 0 0 20px 20px;
	}
	.comment-reply-link {
		float: right;
		color: $color_mountain_mist_approx;
		&:hover {
			color: $color_royal_purple_approx;
		}
		&:before {
			content: '\f412';
			display: inline-block;
			font: normal 22px/1 'Genericons';
			vertical-align: top;
		}
	}
}
.comment-list {
	margin-bottom: 34px;
	margin-bottom: 3.4rem;
	list-style-type: none;
	padding: 0;
	.children {
		margin-left: 20px;
		list-style-type: none;
		padding: 0;
	}
}
#respond {
	form {
		margin: 24px 0;
		margin: 2.4rem 0;
		p {
			margin: 11px 0;
			margin: 1.1rem 0;
			&.logged-in-as {
				margin-bottom: 16px;
				margin-bottom: 1.6rem;
			}
			&.form-allowed-tags {
				margin: 0;
				font-size: 15px;
				font-size: 1.5rem;
				line-height: 1.5;
				color: $color_chicago_approx;
			}
		}
		label {
			display: block;
			line-height: 1.5;
		}
		input[type="text"] {
			@extend %extend_16;
		}
		textarea {
			@extend %extend_16;
		}
	}
	h3#reply-title {
		line-height: 1.5;
		#cancel-comment-reply-link {
			margin-left: 10px;
			margin-left: 1rem;
			font-weight: normal;
			font-size: 16px;
			font-size: 1.6rem;
		}
	}
}
.required {
	color: $red;
}
.widget {
	margin-bottom: 40px;
	margin-bottom: 4rem;
	padding: 30px;
	padding: 3rem;
	background-color: $white;
	li {
		margin-bottom: 10px;
		margin-bottom: 1rem;
	}
	select {
		max-width: 100%;
	}
	th {
		padding: 1px 1px 1px 2px;
	}
	td {
		padding: 1px 1px 1px 2px;
	}
}
.widget-title {
	font-family: $font_3;
	font-size: 25px;
	font-size: 2.5rem;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
	color: $color_tundora_approx;
	line-height: 36px;
}
.widget_search {
	.search-submit {
		display: none;
	}
	.search-form {
		width: 90%;
	}
	input[type="search"] {
		width: 90%;
	}
}
.infinite-scroll {
	.paging-navigation {
		display: none;
	}
	&.neverending .site-footer {
		display: none;
	}
}
#colophon {
	border-top: 1px solid $color_mercury_approx;
	padding: 20px 0;
	background-color: $white;
	.site-info {
		text-align: center;
		font-size: 14px;
		font-size: 1.4rem;
	}
}
.menu-toggle {
	display: none;
	cursor: pointer;
}
.main-small-navigation {
	width: auto;
	float: right;
	padding-top: 0;
	background-color: rgba(0, 0, 0, 0);
	margin: 10px 25px 0 0;
	margin: 1rem 2.5rem 0 0;
	ul {
		margin: 0;
		list-style: none;
		ul {
			a {
				padding-left: 44px;
			}
			ul a {
				padding-left: 66px;
			}
		}
		> {
			.current_page_item {
				background: $color_royal_purple_approx;
				a {
					color: $white;
				}
			}
			.current-menu-item {
				background: $color_royal_purple_approx;
				a {
					color: $white;
				}
			}
		}
		li {
			ul li {
				a {
					color: $color_tundora_approx;
					background-color: $white;
					&:hover {
						background-color: $color_royal_purple_approx;
						color: $white;
					}
				}
				&.current-menu-item a {
					color: $color_tundora_approx;
					background-color: $white;
				}
				&:hover > a {
					background-color: $color_royal_purple_approx;
					color: $white;
				}
			}
			&.current-menu-item ul li a {
				color: $color_tundora_approx;
				background-color: $white;
				&:hover {
					background-color: $color_royal_purple_approx;
					color: $white;
				}
			}
			&.current_page_ancestor ul li a {
				color: $color_tundora_approx;
				background-color: $white;
			}
			&.current-menu-ancestor ul li a {
				color: $color_tundora_approx;
				background-color: $white;
			}
			&.current_page_item ul li a {
				color: $color_tundora_approx;
				background-color: $white;
			}
		}
	}
	li {
		background: $white;
		&:hover {
			background: $color_royal_purple_approx;
			> a {
				color: $white;
			}
		}
	}
	a {
		color: $color_tundora_approx;
		display: block;
		font-size: 14px;
		padding: 8px 22px;
		text-decoration: none;
	}
}
.author-box {
	background-color: $white;
	padding: 3rem;
	margin-bottom: 4rem;
}
.author-img {
	float: left;
	width: 14%;
}
.author-description-wrapper {
	float: right;
	width: 84%;
}
.author-name {
	margin-bottom: 15px;
}
.wp-custom-header-video-button {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 62px;
	height: 50px;
	font: 0/0 a;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.5s;
	&:before {
		content: "\f452";
		display: block;
		font-family: $font_15;
		font-size: 20px;
	}
	&.wp-custom-header-video-pause:before {
		content: "\f448";
	}
}
@media screen and(max-width: 1308px) {
	#page {
		width: 100%;
	}
	.inner-wrap {
		width: 96%;
	}
}
@media screen and(max-width: 782px) {
	body.admin-bar {
		.header-wrap {
			top: 45px;
		}
		#parallax-bg {
			top: 14px;
		}
	}
}
@media screen and(max-width: 768px) {
	.better-responsive-menu {
		.main-navigation {
			ul {
				ul {
					a {
						min-width: auto;
					}
					li {
						font-size: 1.8rem;
						a {
							padding-left: 40px;
						}
					}
				}
				li ul {
					position: static;
				}
			}
			li {
				line-height: 40px;
				width: 100%;
			}
			.menu-primary-container > ul {
				background-color: $white;
				right: 60px;
				position: absolute;
				top: 100%;
				width: 200px;
				margin-left: -134px;
			}
			.menu > ul {
				background-color: $white;
				right: 60px;
				position: absolute;
				top: 100%;
				width: 200px;
				margin-left: -134px;
			}
		}
		#site-navigation ul li .sub-menu {
			display: none;
		}
	}
	.main-small-navigation {
		li {
			position: relative;
		}
		ul {
			width: 100%;
			display: inline-block;
			width: 200px;
			margin-left: -134px;
			ul {
				margin-left: 0;
			}
		}
	}
	.sub-toggle {
		background-color: $color_pigment_indigo_approx;
		cursor: pointer;
		display: block;
		padding: 0 6px;
		position: absolute;
		right: 11px;
		top: 8px;
		line-height: 2.4rem;
	}
	.genericon-expand::before {
		content: "";
		line-height: 22px !important;
		color: $white;
	}
	#primary {
		float: none;
		width: 100%;
	}
	#secondary {
		float: none;
		width: 100%;
	}
	.site-branding {
		margin-right: 0;
		max-width: 60%;
	}
	.menu-toggle {
		display: block;
	}
	.main-navigation {
		margin: 10px 25px 0 0;
		margin: 1rem 2.5rem 0 0;
		ul {
			display: none;
		}
		&.toggled .nav-menu {
			display: block;
		}
	}
	.tg-one-third {
		width: 100%;
		float: none;
	}
	.full-width-menu {
		.main-small-navigation {
			ul {
				width: 100%;
				margin-left: 0;
				right: 0;
				&.menunav-menu {
					display: inline-block;
					width: 100%;
					position: absolute;
					top: 100%;
					left: 0;
				}
			}
			.menu > ul {
				display: inline-block;
				width: 100%;
				position: absolute;
				top: 100%;
				left: 0;
			}
		}
		.main-navigation {
			li {
				line-height: 40px;
				width: 100%;
			}
			.menu > ul {
				display: none;
			}
		}
		&.better-responsive-menu .main-navigation ul {
			width: 100%;
			margin-left: 0;
			right: 0;
		}
	}
	.site-header .menu-toggle {
		background-color: rgba(0, 0, 0, 0);
		color: $color_royal_purple_approx;
		float: right;
		&:hover {
			color: $color_royal_purple_approx;
			background-color: rgba(0, 0, 0, 0);
		}
	}
}
@media only screen and(max-width: 600px) {
	body {
		margin-top: 0 !important;
		&.admin-bar .header-wrap {
			top: 0;
		}
	}
	.header-wrap {
		position: relative;
	}
	.site-title {
		font-size: 22px;
		padding-top: 16px;
	}
	.gallery-columns-4 .gallery-item {
		width: 25%;
	}
	.gallery-columns-5 .gallery-item {
		width: 25%;
	}
	.gallery-columns-6 .gallery-item {
		width: 25%;
	}
	.gallery-columns-7 .gallery-item {
		width: 25%;
	}
	.gallery-columns-8 .gallery-item {
		width: 25%;
	}
	.gallery-columns-9 .gallery-item {
		width: 25%;
	}
}
@media only screen and(max-width: 420px) {
	.gallery-columns-4 .gallery-item {
		width: 33.33%;
	}
	.gallery-columns-5 .gallery-item {
		width: 33.33%;
	}
	.gallery-columns-6 .gallery-item {
		width: 33.33%;
	}
	.gallery-columns-7 .gallery-item {
		width: 33.33%;
	}
	.gallery-columns-8 .gallery-item {
		width: 33.33%;
	}
	.gallery-columns-9 .gallery-item {
		width: 33.33%;
	}
}
.woocommerce {
	.woocommerce-message {
		border-top-color: $color_tundora_approx;
	}
	#respond input#submit {
		background-color: $color_tundora_approx;
		color: $white;
		&.alt {
			background-color: $color_tundora_approx;
			color: $white;
			&:hover {
				color: $white;
			}
		}
		&:hover {
			color: $white;
		}
	}
	a.button {
		background-color: $color_tundora_approx;
		color: $white;
		&.alt {
			background-color: $color_tundora_approx;
			color: $white;
			&:hover {
				color: $white;
			}
		}
		&:hover {
			color: $white;
		}
	}
	button.button {
		background-color: $color_tundora_approx;
		color: $white;
		&.alt {
			background-color: $color_tundora_approx;
			color: $white;
			&:hover {
				color: $white;
			}
		}
		&:hover {
			color: $white;
		}
	}
	input.button {
		background-color: $color_tundora_approx;
		color: $white;
		&.alt {
			background-color: $color_tundora_approx;
			color: $white;
			&:hover {
				color: $white;
			}
		}
		&:hover {
			color: $white;
		}
	}
	ul.products li.product .price {
		del {
			display: inline-block;
			margin-right: 10px;
		}
		.amount {
			color: $color_tundora_approx;
		}
	}
	.star-rating span::before {
		color: $gold;
	}
	p.stars a {
		color: $gold;
	}
}
* html .clearfix {
	height: 1%;
}
#masthead .search-form {
	float: right;
	position: absolute;
	right: 0;
	top: 65px;
	background-color: $color_royal_purple_approx;
	padding: 10px 20px;
	display: none;
	z-index: 999;
	.search-field {
		width: 180px;
	}
	input[type="submit"] {
		display: none;
	}
}
.single .byline {
	display: inline;
}
.group-blog .byline {
	display: inline;
}
.entry-header .entry-meta span {
	padding-right: 20px;
}
.blog .format-aside .entry-title {
	display: none;
}
.archive .format-aside .entry-title {
	display: none;
}
.gallery-columns-3 .gallery-item {
	padding: 15px 1%;
	width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	padding: 15px 1%;
	width: 25%;
}
.gallery-columns-5 .gallery-item {
	padding: 15px 1%;
	width: 20%;
}
.gallery-columns-6 .gallery-item {
	padding: 10px 0.5%;
	width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	padding: 10px 0.5%;
	width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	padding: 10px 0.5%;
	width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	padding: 10px 0.5%;
	width: 11.11%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-icon img {
	margin: 0 auto;
}
.infinity-end.neverending .site-footer {
	display: block;
}
